---
cacheable: true
render: false
write: false
---
<address class="vcard contact-info">
<span class="fn">Ruud Bijnen</span><br/>
<div class="adr">
	<span class="street-address">Meteorenstraat 28</span><br/>
	<span class="postal-code">7521 XR</span>, <span class="locality">Enschede</span><br/>
	<span class="country-name">The Netherlands</span><br/>
</div>
<a href="tel:+31615222356" class="tel">+31 6 15 222 356</a><br/>
<a href="mailto:mail@ruudbijnen.nl" class="email">mail@ruudbijnen.nl</a>
</address>