---
cacheable: true
render: false
write: false
---
<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<nav id="site-meta" class="site-meta">
				<header>
					<h4>Site Links</h4>
				</header>
				<ul>
					<li><a href="/about#contact" class="contact" title="Contact me">Contact</a></li>
					<li><a href="#" class="disabled rss" title="RSS feed">RSS feed</a></li>
					<li><a href="#" class="disabled site-map" title="Site Map">Site Map</a></li>
					<li><a href="https://github.com/Maff-/ruudbijnen.nl" class="disabled source" title="Source Code @ GitHub">Source Code</a></li>
				</ul>
			</nav>
			<nav id="profiles" class="profiles">
				<header>
					<h4>Online Profiles</h4>
				</header>
				<ul>
					<li><a href="https://github.com/Maff-" class="github" title="GitHub">GitHub</a></li>
					<li><a href="https://www.linkedin.com/in/ruudbijnen" class="linkedin" title="LinkedIn">LinkedIn</a></li>
					<li><a href="https://twitter.com/ruudbijnen" class="twitter" title="Twitter">Twitter</a></li>
					<!--<li><a href="https://www.facebook.com/ruudbijnen" class="facebook" title="Facebook">Facebook</a></li>-->
					<li><a href="https://www.flickr.com/photos/ruudbijnen" class="flickr" title="Flickr">Flickr</a></li>
					<li><a href="https://vimeo.com/ruudbijnen" class="vimeo" title="Vimeo">Vimeo</a></li>
				</ul>
			</nav>
		</div>
		<div class="row">
			<section id="copyright">
				<small>© 2014 Ruud Bijnen</small>
			</section>
			<nav class="nav-top">
				<a href="#top" rel="top">Back to Top</a>
			</nav>

		</div>
	</div>
</footer>