---
cacheable: true
render: false
write: false
---
<!-- Swiftype Search -->
<section id="search" class="light collapse">
	<div class="container">
		<header>
			<h1>Search the Site</h1>
		</header>
	</div>
	<div id="search-form" class="container">
		<form novalidate autocomplete="off" role="search">
			<div class="form-group">
				<label for="search-input" class="sr-only">Search:</label>
				<input type="search" id="search-input" placeholder="Search for ..." class="form-control"/>
			</div>
		</form>
	</div>
	<div id="search-results" class="container"></div>
</section>